body {
    background-color: rgb(35, 35, 43);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button.sorteio {
    margin-top: 15px;
    color: rgb(0, 0, 0);
    border: 2px solid;
    outline: none;
    border-color: #000000;
    background-color: rgb(255, 211, 67);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #d47800;
}

button.sorteio:hover {
    background-color: rgb(255, 237, 179);
    box-shadow: 0px 5px 0px 0px #f7b365
}

button.sorteio:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #fff;
}

input {
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #cfcfcf;
    text-align: center;
    box-shadow: 0px 4px 0px 0px black;
}

/* #region Botão de Trava */

label.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    vertical-align: middle;
    background-color: #888888; 
    border-radius: 50%;        
    cursor: pointer;
}

label.checkbox:has(input:checked) {
    background-color: #c4a26f;
}

label.checkbox input{
    display: none;
}

label.checkbox .fechado {
    display: none;
    cursor: pointer;
}

label.checkbox .aberto {
    display: inline;
    cursor: pointer;
}

label.checkbox input:checked ~ .aberto {
    display: none;
}

label.checkbox input:checked ~ .fechado {
    display: inline;
}

/* #endregion */

button.back {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    outline: none;
    background-color: rgb(255, 121, 44);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #8f4603;
}

button.back:hover {
    transform: translateY(-5px);
    background-color: rgb(255, 69, 44);
    box-shadow: 0px 10px 0px 0px #640e03;
}

button.back:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #b65858;
}

button.sorteartudo {
    margin: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid;
    outline: none;
    border-color: #000000;
    background-color: rgb(32, 168, 209);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #024369;
}

button.sorteartudo:hover {
    transform: translateY(-5px);
    background-color: rgb(81, 181, 221);
    box-shadow: 0px 10px 0px 0px #1159c5;
}

button.sorteartudo:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #ffffff;
}