body {
    background-color: rgb(35, 35, 43);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

div.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

div.info2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.info3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

div.bioma {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
}

p {
    display: inline;
    text-align: center;
    background-color: rgb(253, 178, 15);
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
}

p.bioma {
    margin-top: 40px;
}


input {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

select {
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

textarea {
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    resize: none;
}

/* #region INPUTS PERSONAGEM //////////////////////////////////////////////////////////////////////////////////////////// */
input.nome {
    margin-left: 10px;
    margin-right: 20px;
    height: 25px;
    width: 515px;
}

input.idade {
    margin-left: 10px;
    height: 25px;
    width: 150px;
    text-align: center;
}

input.raca {
    margin-left: 10px;
    margin-right: 20px;
    height: 25px;
    width: 250px;
}

input.classe {
    margin-left: 10px;
    height: 25px;
    width: 250px;
}

input.trabalho {
    margin-left: 10px;
    height: 25px;
    width: 250px;
}

select.social {
    margin-left: 10px;
    margin-right: 20px;
    height: 30px;
    width: 200px;
}

textarea.historia {
    margin-left: 10px;
    height: 100px;
    width: 750px;
}

textarea.armas {
    margin-left: 10px;
    height: 70px;
    width: 688px;
}

textarea.aparencia {
    margin-left: 10px;
    height: 90px;
    width: 695px;
}

textarea.habilidades {
    margin-left: 10px;
    height: 90px;
    width: 722px;
}
/* #endregion */

/* #region INPUTS CENÁRIOS ////////////////////////////////////////////////////////////////////////////////////////////// */
input.local {
    margin-left: 10px;
    margin-right: 20px;
    height: 25px;
    width: 460px;
}

select.horario {
    margin-left: 10px;
    height: 30px;
    width: 200px;
}

select.regiao {
    margin-left: 10px;
    margin-right: 20px;
    height: 30px;
    width: 200px;
}

select.civilizacao {
    margin-left: 10px;
    height: 30px;
    width: 200px;
}

input.clima {
    margin-left: 10px;
    height: 25px;
    width: 774px;
}

input.vegetacao {
    margin-left: 10px;
    height: 25px;
    width: 726px;
}

input.fauna {
    margin-left: 10px;
    height: 25px;
    width: 772px;
}

input.terreno {
    margin-left: 10px;
    height: 25px;
    width: 757px;
}

textarea.composicao {
    margin-left: 10px;
    height: 100px;
    width: 713px;
}

textarea.estruturas {
    margin-left: 10px;
    height: 100px;
    width: 730px;
}
/* #endregion */

/* #region Botões salvar //////////////////////////////////////////////////////////////////////////////////////////////// */
div.save {
    display: flex;
    justify-content: center;
}

button.saveprint {
    margin: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid;
    outline: none;
    border-color: #000000;
    background-color: rgb(30, 190, 30);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #046d33;
}

button.saveprint:hover {
    transform: translateY(-5px);
    background-color: rgb(13, 224, 101);
    box-shadow: 0px 10px 0px 0px #036454;
}

button.saveprint:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #ffffff;
}

.back {
    display: flex;
    justify-content: center;
}
/* #endregion */

/* #region Botão voltar ///////////////////////////////////////////////////////////////////////////////////////////////// */
button.buttonback {
    margin: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid;
    outline: none;
    border-color: #000000;
    background-color: rgb(255, 121, 44);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #8f4603;
}

button.buttonback:hover {
    transform: translateY(-5px);
    background-color: rgb(255, 69, 44);
    box-shadow: 0px 10px 0px 0px #640e03;
}

button.buttonback:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #b65858;
}
/* #endregion */